* {
  margin: 0;
  padding: 0;
  color: unset;
  list-style: none;
}

:root {
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 6rem;
  --space-flow: 1em;
  --space-flow-heading: 0.25em;
  --space-flow-subtitle: 0.15em;
  --space-flow-after-subtitle: 1.5em;
  --space-flow-after-section-subtitle: var(--space-sm);
  --text-sm: 0.9rem;
  --text-h1: 1.5em;
  --text-h2: 1.25em;
  --border-radius: 4px;
}

:root {
  --bg: #ffffff;
  --bg-card: #f6f8fa;
  --border-subtle: #d1d9e0;
  --text-muted: #59636e;
  --text-primary: #1f2328;
  --text-link: #0969da;
}

body {
  font-family: "Crimson Pro Variable", serif;
  font-size: 16px;
  background-color: var(--bg);
  color: var(--text-primary);
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

a {
  color: var(--text-link);

  &:hover {
    opacity: 0.8;
  }
}

pre {
  padding: var(--space-sm);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-subtle);
  overflow-x: auto;
  font-size: inherit;
}

.links svg {
  color: var(--text-primary);
}

.prose * + * {
  margin-block-start: var(--space-flow);
}

.prose :is(h1, h2, h3, h4, h5, h6) + * {
  margin-block-start: var(--space-flow-heading);
}

.prose h1 + p:has(> em) {
  margin-block-start: var(--space-flow-subtitle);
}

.prose h1 + p:has(> em) + * {
  margin-block-start: var(--space-flow-after-subtitle);
}

.prose h2 + p:has(> em) + * {
  margin-block-start: var(--space-flow-after-section-subtitle);
}

.prose :is(h1, h2) + p:has(> em) em {
  font-style: normal;
}

.prose :is(h1, h2) + p:has(> em)::before {
  content: "# ";
  color: var(--text-muted);
}

.prose p {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  hyphenate-limit-chars: 5 2 2;
  word-break: break-word;
}

.meta {
  font-family: "JetBrains Mono Variable";
  font-size: 0.7rem;
  opacity: 0.6;
}

code, pre {
  font-size: 0.8rem;
}
