* {
  margin: 0;
  padding: 0;
  color: unset;
  list-style: none;
}
:root {
  --text-primary: #000;
  --text-link: #0000ff;
  --bg: #fff;
  --border-subtle: #cccfd6;
  --prose-flow: 0.5em;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 6rem;
  --space-flow: 1em;
  --space-flow-heading: 0.25em;
  --space-flow-subtitle: 0.15em;
  --space-flow-after-subtitle: 1.5em;
  --space-flow-after-section-subtitle: var(--space-sm);
  --text-sm: 0.8rem;
  --text-h1: 1.5em;
  --text-h2: 1.25em;
  --border-radius: 4px;
  --bg-card: #f7f7f5;
}
body {
  font-family: "Crimson Text";
}
h1 {
  font-size: var(--text-h1);
}
h2 {
  font-size: var(--text-h2);
}
a {
  --link-color: var(--text-link);
  color: var(--link-color);

  &:hover {
    opacity: 0.8;
  }
}
time {
  opacity: 0.7;
}
pre {
  padding: var(--space-sm);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-subtle);
  overflow-x: scroll;
  font-size: inherit;
}
.prose * + * {
  margin-block-start: var(--space-flow, 1em);
}

.prose :is(h1, h2, h3, h4, h5, h6) + * {
  margin-block-start: var(--space-flow-heading, 0.25em);
}

.prose h1 + p:has(> em) {
  margin-block-start: var(--space-flow-subtitle, 0.15em);
}

.prose h1 + p:has(> em) + * {
  margin-block-start: var(--space-flow-after-subtitle, 1.5em);
}

.prose h2 + p:has(> em) + * {
  margin-block-start: var(--space-flow-after-section-subtitle);
}
.card {
  background-color: var(--bg-card);
  border-left: 1px dashed var(--text-primary);
  padding-block: var(--space-xs);
  padding-inline: var(--space-md);
}
.prose p {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  hyphenate-limit-chars: 5 2 2;
  word-break: break-word;
}
